<div>
  <div class="homework-menu">
    <button><a href="#homework1">Homework 1</a></button>
    <button><a href="#lab3">Lab 3</a></button>
    <button><a href="#lab4">Lab 4</a></button>
  </div>
  <h1 id="homework1">============ Homework 1 ============</h1>
  <app-home [title]="'This is Home Component1'"></app-home>
  <hr />
  <h1 id="lab3">============ Lab 3 ============</h1>
  <app-counting></app-counting>
  <hr />
  <h1 id="lab4">============ Lab 4 ============</h1>
  <app-lab4></app-lab4>
</div>
